.buttons{
    /* background-color: #440000;
    background: #440000;
    color: green; */
    /* display: flex; */
    /* justify-content: center; */
    /* width: 70%; */
    /* align-items: center; */
}
.blockquote mb-0{
    color: #440000;
}