.template-wrap{
  background: rgba(131, 37, 37, 0.788);
  padding-left:6px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 10px;
  border: 1px solid whitesmoke;
  font-size: 10.5px;
  font-weight: 500;
  width: 500px;
  height: 70px;
  align-items: center;
  word-wrap: break-word;

}
.event-Delete{
  color:black;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  position: absolute;
  top:4px;
  right:1px;
  border-radius: 100px;
  background-color: rgba(198, 243, 62, 0.526)
} 

.downshift-dropdown {
  margin-right: auto;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-bottom: none;
  border-radius: 25px;
  background: #f5faff;
  padding: 10px;
  width: 230px;
  height: 150px;
}

.dropDown{
  width: 20rem;
  border: 1px solid whitesmoke;
  border-bottom: none;
  border-radius: 10px;
  background: white;
  text-align: left;
  width:200px;
  height: 80px;
  padding-right: 10px;
  padding-left: 10px;
  
  white-space: nowrap;  
overflow: hidden;
text-overflow: ellipsis; 
}
.innerDrop {
  white-space: nowrap;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.disableSch{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: rgb(238, 13, 54);
}